---
import Layout from '../layouts/Layout.astro';
import {GradientList} from "../components/GradientList";
---

<Layout title="Welcome to Astro.">
	<main>
		<GradientList />
	</main>
</Layout>

<style>

</style>
